---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Page Not Found">
  <h1>404 - Page Not Found</h1>
  <p>Couldn't find that page 🤷</p>
  <p><a href="/">Go back home</a></p>
</Layout>