---
import Layout from '../layouts/Layout.astro';
---

<Layout title="About">
  <h1>Hi 👋 I'm Greg</h1>
  
  <p>This is my website. I probably won't update it especially often, but hopefully it gives you an idea of what I'm all about</p>
  
  <h3>Site Features</h3>
  
  <ul>
    <li><a href="/posts/">Blog</a>: Some of my inside thoughts, but on the outside!</li>
    <li><a href="/notes/">Notes</a>: Quick thoughts and half-bakes ideas -- like Twitter but with signifiicantly fewer people!</li>
    <li><a href="/documents/resume/">Résumé</a>: A few things about my career that I do want to talk about 😄</li>
  </ul>
</Layout>