[submodule "hugo_site/themes/introduction"]
	path = hugo_site/themes/introduction
	url = https://github.com/victoriadrake/hugo-theme-introduction.git
[submodule "hugo_site/themes/slick"]
	path = hugo_site/themes/slick
	url = git@github.com:spookey/slick.git
