@media (prefers-color-scheme: dark) {
	.list a:visited{
		color: #D0ADF0;
  	}
  	.list a {
  		color: #9da0f8;
  	}
}

.list {
	list-style: none;

	hr {
		border-top: 1px dashed;
	}

	.h-entry {
		margin-left: 1rem;
		display: flex;
		flex-direction: column;

		header {
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: center;
			align-self: flex-start;
			font-size: small;
		} 
	}
}