@use 'navbar';
@use 'footer';
@use 'menu-common';
@use 'notes';
@use 'list';
@use 'single';

@media (prefers-color-scheme: dark) {
  body {
  	background-color: #1d2722;
  	color: white;

  	hr {
		border-color: #656565;
  	}

  	.homepage a:visited{
		color: #D0ADF0;
  	}
  	.homepage a {
  		color: #9da0f8;
  	}
  }
}

@media (prefers-color-scheme: light) {
  body {
  	background-color: aliceblue;
  	color: black
  }
}

body {
	font-family: sans-serif;
	font-size: 16px;
	max-width: 960px;
  	margin: auto;

	> hr:first-of-type {
		margin-top: 0;
	}
	> hr:last-of-type {
		margin-bottom: 0;
	}
}	
