{{ with .Site.Author.name }}<p class="p-name">{{ . }}</p>{{ end }}
{{ with .Site.Author.nickname }}<p class="p-nickname">{{ . }}</p>{{ end }}
{{ if or (.Site.Author.country_name) (or (.Site.Author.region) (.Site.Author.locality)) }}
<p class="p-adr h-adr">
    {{ with .Site.Author.locality }}<span class="p-locality">{{ . }}</span><br />{{ end }}
    {{ with .Site.Author.region }}<span class="p-region">{{ . }}</span>{{ end }}
    {{ with .Site.Author.country_name }}<span class="p-country-name">{{ . }}</span>{{ end }}
</p>
{{ end }}
{{ with .Site.Author.url }}<a class="u-url" href="{{ . }}">homepage</a>{{ end }}
{{ with .Site.Author.email }}<a class="u-email" href="mailto:{{ . }}">{{ . }}</a>{{ end }}
{{ with .Site.Author.bday }}<time class="dt-bday">{{ . }}</time>{{ end }}
{{ with .Site.Author.gender_identity }}<p class="p-gender-identity">{{ . }}</p>{{ end }}