<article class="h-entry">
    <header 
      style="
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        align-self: flex-start;
        font-size: small;
      "
    >
      {{- if .Draft }}<h1>DRAFT:</h1>{{ end }}
      <a 
        class="p-name"
        href="{{ .RelPermalink }}"
        style="font-size: 1.5rem;"
      >
        {{ .Title }}
      </a>
      <small>
        <span>Published by </span>
        <a class="p-author h-card" href="{{ .Site.Author.h_card_url }}">
          {{ .Site.Author.nickname }}
        </a>
        <span> on </span>
        <time 
          datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}"
          class="dt-published"
        >
          {{ .Date.Format (default "02 Jan 06 15:04 MST" .Site.Params.dateFmt) }}
        </time>
      </small>
    </header>
    <main>
      <div class="e-content">
          {{ .Summary }}
      </div>
    </main>
</article>