<article class="h-entry">
  {{ partial "profile-pic-h-card" .Site.Author }}
  <div> 
    <header>
      <a class="p-author h-card" href="{{ .Site.Author.h_card_url }}">
        {{ .Site.Author.nickname }}
      </a>
      <span>&nbsp;·&nbsp;</span>
      <time 
        datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}"
        class="dt-published"
      >
        {{ .Date.Format (default "02 Jan 06 15:04 MST" .Site.Params.noteDateFmt) }}
      </time>
    </header>
    <main>
      {{ if .Title }}
      <span class="p-name">
        {{ .Title }}
      </span>
      {{ end }}
      <div class="e-content">
          {{ .Content }}
      </div>
      {{- if .Params.mention.url }}
        {{ partial "webmention-outbound" .Params.mention }}
      {{- end }}
    </main>
    {{ with .Resources.GetMatch "webmentions.json" }} 
      <aside>
      Mentions: 
      <ul>
        {{ range . | transform.Unmarshal }}
          {{ partial "webmention-inbound" . }}
        {{ end }}
      </aside>
    {{ end }}
  </div>
  {{ with .Site.Author.url }}
  <small style="display:none;">
    Federated by <a class="u-bridgy-fed" href="https://fed.brid.gy/user/{{ . }}">
      fed.brid.gy
    </a>
  </small>
  {{ end }}
</article>