<article class="h-entry">
  <img src="{{ .Site.Params.noteProfilePic }}" />
  <div> 
    <header>
      <a class="p-author h-card" href="{{ .Site.Author.h_card_url }}">
        {{ .Site.Author.nickname }}
      </a>
      <span>&nbsp;·&nbsp;</span>
      <time 
        datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}"
        class="dt-published"
      >
        {{ .Date.Format (default "02 Jan 06 15:04 MST" .Site.Params.noteDateFmt) }}
      </time>
    </header>
    <main>
      {{ if .Title }}
      <span class="p-name">
        {{ .Title }}
      </span>
      {{ end }}
      <div class="e-content">
          {{ .Content }}
      </div>
    </main>
  </div>
</article>